name: this_specifc_worklflow_action 
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: step1
      uses: actions/checkout@v4