name: create_test_branch_and_install_node
on:
  push: 
    branches:
      - test
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu
    steps:
      - uses: actions/checkout@v4
      - uses: actions/node@v4
        with:
          - version:20